.header{
    background: var(--blackColor);

}

.main_header{
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
}

.header_info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    width: 500px;
}