/*.filter{*/
/*    border: 1px black solid;*/
/*}*/

.main{
    position: sticky;
    padding: 24px 30px;
    width: 320px;
    height: 620px;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    /*gap: 20px*/
}
.gap20{
    gap: 20px;
}
.gap40{
    gap: 40px;
}
.align_center{
    align-items: center;
}

.money{
    color: var(--blueColor);
}

.money h1{
    font-family: 'Sen-Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.money p{
    font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.big_title{
    font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.title{
    font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.value{
    font-family: 'Open-Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.filter{
/*margin: 20px 0;*/
font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
}
.flex-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.absolute {
    position: absolute;
    top: 5px;
    right: 0;
}

.favorite_filter {
    margin-top: 77px;
    padding-bottom: 50px;
}


.profile_contend-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 242px;
    height: 47px;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 14px;
}

.ads_filter_select {
    position: relative;
    width: 237px;
}

.ads_filter-header {
    border: 1px rgba(128, 128, 128, 0.2) solid;

    font-size: 16px;
    padding: 15px;
    /*box-shadow: 0px 5px 35px 0px rgba(38, 38, 38, 0.1);*/
    border-radius: 10px;
    width: 237px;
    height: 47px;
    cursor: pointer;
    z-index: 0;
}

.ads_filter-header:focus {
    border: 1px solid black;
}

.filter_select-body-none {
    z-index: 1;
    display: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    left: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 6px 40px 0px #2626261A;
}

.ads_filter_select-body {
    background-color: white;
    z-index: 3;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    left: 0;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0px 6px 40px 0px #2626261A;
}

.filter_select-item {
    font-size: 14px;
    width: 227px;
    height: 47px;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 20px;
    z-index: 3;
}

.content_ads_filter {
    margin-right: 30px;
}