.button{
    background-color: transparent;
    color: #FBF9FF;
    border: 1px solid #FBF9FF;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    padding: 5px 40px;
    font-size: 20px;

    /*box-shadow: 1px 1px 1px 1px #000807;*/
}