.main{
    height: 1000px;
    background: url("../../public/yourWelcome/GoodTeam.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    font-family:'Open-Sans-Bold', sans-serif ;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.title h1{
    padding-top: 50px;
}

.leftTop{
    position: relative;
}
.leftBottom{
    position: relative;
    bottom: 350px;
}

.rightTop{
    position: relative;
    left: 83vw;
    bottom: 60vh;
}
.rightBottom{
    position: relative;
    left: 83vw;
    bottom: 100vh;
}

