.main{
    width: 350px;
    height: 110px;
    border-radius: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;
}
.avatar{
    width: 110px;
    height: 110px;
    border-radius: 100px;

    overflow: hidden;
}

.nickname{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.subes{
    font-family: 'Open-Sans Light';
    font-weight: lighter;
    font-size: 15px;
}
/*!* profile *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 350px;*/
/*height: 109px;*/

/*background: #FDFDFD;*/

/*border-radius: 100px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*flex-grow: 0;*/
