.main{
    padding: 85px 130px;
}
.flex{
    display: flex;
    justify-content: space-around;
}

.content{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

.title{
    text-align: center;
    font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.text{
    font-family: 'Open-Sans', sans-serif;
    font-size: 20px;
    line-height: 2rem;

    text-align: justify; /* Выравнивание по ширине для книжного вида */
    text-indent: 2em; /* Отступ в начале абзаца, как в книгах */
    max-width: 50em; /* Ограничение ширины текста для удобного чтения */
    margin: 0 auto;
}





.hr {
    margin: 5vh 0;
    border-top: 1px rgba(0, 0, 0, 0.25) solid;
}
/*.comments::before{*/
/*    !*border: 1px black solid;*!*/
/*    border-top: 1px rgba(0, 0, 0, 0.25) solid;*/
/*}*/
